<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd">
    <!--声明组件扫描器
    base-package：指定注解在你项目中的包名
    component-scan工作方式：会扫描base-package指定的包，把包中和子包中所有的类，找到类中的注解，按照注解的功能创建对象，或者给属性赋值
    -->
    <context:component-scan base-package="org.example"/>
</beans>